*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	font-family: sans-serif;
}


/*header css*/
.header{
	overflow: hidden;
	background-color: #121B2A;
	padding: 10px 0px;
	-webkit-box-shadow: 0px 10px 9px 0px rgba(0,0,0,0.91); 
	box-shadow: 0px 10px 9px 0px rgba(0,0,0,0.91);
	position: relative;
}	
.container{
	width: 90%;
	margin: 0 auto;
}
.logo{
	width: 30%;
	float: left;
}
.logo a{}
.logo a img{}

.menu{
	width: 70%;
	float: right;
}
.menu ul{
	list-style-type: none;
	text-align:right;
	margin-top: 50px;
}
.menu ul li{
	display: inline-block; 
}
.menu ul li a{
	text-decoration: none;
	color:#fff;
	padding:0px 22px;
	text-transform: uppercase;
}
.menu ul li a:last-child{
	padding-right:0px; 	
}
.menu ul li a:hover{
	color:#0078BD;
}
.active{
	color:#0078BD !important;
}
.login{
	position: absolute;
	right: 70px;
	top:0px;
}
.client{
	text-decoration: none;
	color:#000;
	background-color: #fff;
	padding: 10px 15px;
	text-transform: uppercase;
	display:inline-block; 
	border-radius: 2px;
	/*border:1px solid #ED18CD;*/
}
.employee{
	text-decoration: none;
	color:#fff;
	background-color: #0078BD;
	padding: 10px 20px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: -5px;
	border-radius: 2px;
	/*border:1px solid #221720;*/
}
.login i{
	/*position: absolute;*/
	right: 165px;
	top:7px;
	color: #fff;
	display: inline-block;
}

/*banner css*/

.banner{
	background-image: url("../img/man tuch.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height:100vh;
	overflow: hidden;
}
.learn{
	padding-top: 260px;
}
.learn h2{
	color: #FFFFFF;
	text-transform: capitalize;
	font-weight: 100;
	font-size: 35px;
}
.learn h1{
	color:#0075BA;
	text-transform: capitalize;
	font-size: 45px;
	padding-bottom: 10px;
}
.learn p{
	color: #FFFFFD;
	width: 42%;
	line-height: 30px;
	padding-bottom:42px;
}
.learn a{
	color: #5A5A5A;
	background-color: #fff;
	text-decoration: none;
	font-size: 22px;
	text-transform: uppercase;
	padding: 13px 40px ;
	border-radius: 4px; 
}
.learn a span{
	font-weight: 600;
}
.learn a span:hover{}


/*service css start*/
.service{
	overflow: hidden;
	background: #121B2C;
	padding: 50px 0px;
	box-shadow: 2px -21px 20px 2px rgba(23,3,3,0.69);
	-webkit-box-shadow: 2px -21px 20px 2px rgba(23,3,3,0.69);
	-moz-box-shadow: 2px -21px 20px 2px rgba(23,3,3,0.69);
	/*position: relative;*/
}
.cyber{
	width: 33%;
	float: left;
	border-right: 1px solid #1A2430;
	padding:0px 50px;
}
.cyber p{
	/*display: inline-block;*/
	color: #767A81;
	padding-right: 30px;
	line-height: 24px;
}
.images{
	width: 29%;
	float: left;
}
.images img{
	width: 80px;
	height: 80px;
}
.Wireless{
	width: 71%;
	float: left;
	margin-top: 17px;
	padding-bottom: 30px;
}
.Wireless h3{
	padding-bottom:2px;
	font-weight: 400;
	color: #CED0CF;
	font-size: 22px;
}
.Wireless span{
	color: #0178BC;
	font-size: 25px;
	font-weight: 600;
}

/*service css end*/

/*contact section css start*/


.contact{
	background-color: #040811;
	overflow: hidden;
}
.container2{
	width: 80%;
	margin: 0 auto;
}
.email-phone-contact{
	width: 30%;
	padding-right: 70px;
	float: left;
	padding:60px 0px;
}
.email-phone-contact p{
	display: inline-block;
	color: #B5B5B7;
	font-size:20px;
}
.email-phone-contact span{
	color: #0074B6;
	font-size: 20px;
	font-weight: 600;
}
.email-phone-contact h3{
	color: #B1B1B3;
	font-weight: 400;
	font-size:16px;
	padding: 20px 0px;
	padding-right: 70px;
}
.email-phone-contact a{
	text-decoration: none;
	color:#B4B5B7;
}
.toll-free{
	display: block !important;
	font-size: 16px !important;

}
.fax{
	display: block !important;
	font-size: 16px !important;
}


/*second box css*/
.coustomars-tstimonials{
	width: 35%;
	float:left;
	padding:40px 0px;
	padding-left: 20px;
/*	padding-right: 27px;*/
}
.coustomers{
	background-color: #0C1019;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	border-radius: 5px;
}
.email-phone-contact pre{
	color: #B2B5B5;
}
.coustomars-tstimonials p{
	display: inline-block;
	color: #B5B5B7;
	font-size: 24px;
}
.coustomars-tstimonials span{
	color: #0074B6;
	font-size: 25px;
	font-weight: 600;
}
.coustomars-tstimonials h3{
	color: #B7B8BA;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 25px;
	font-size: 14px;
	padding-right: 27px;
}
.coustomars-tstimonials h4{
	color: #B4B4B6;
	padding-bottom: 10px;
	padding-left: 20px;
}
.coustomars-tstimonials a{
	text-decoration: none;
	display: inline-block;
	color: #B3B2B7;
	padding-left: 20px;
}

/*thirt box css */
.app-store{
	width: 30%;
	float: left;
	margin-top: 30px;
	padding-left:70px;

}
.mobile-image{
	width: 40%;
	float: left;
}
.app-store-img{
	width: 60%;
	float:left;
	padding-left: 35px;
}
.app-store-img p{
	color: #B5B5B7;
	font-size:20px;
	padding-bottom: 5px;
}
.app-store-img h3{
	color: #0074B6;
	font-weight: 600;
	font-size: 22px;
	padding-bottom: 12px;
}
.app-store-img img{}